.spacing{
    /* width: 5vw; */
    margin-left: .1vw;
    margin-right: .1vw;
    text-align: center;
    border-radius: 9px;
    border: solid 5px transparent;
    color: white;
}

.spacing:hover{
    background-color: rgba(255, 255, 255, 75%);
    color: #DAE5EF;
}

.isActive{
    background-color: white;
    color: #DAE5EF;
}
.navColor{
    background-color: #DAE5EF;
}

.container-fluid {
    height: 5vh; /* You can set the height to your desired value in pixels or any other valid CSS unit */
}

