.imgR {
    border: solid 2px transparent;
    border-radius: 9px;
    height: 100%;
    width: 100%;
    border-color: red; /* Debugging border color */
}

.parent {
    position: relative;
    border: solid 2px blue; /* Debugging border color */
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px green; /* Debugging border color */
}

.searchContainer {
    width: calc(100vw - 181px);
    height: 7vh;
    border: solid 2px orange; /* Debugging border color */
}

.inputSearch {
    height: 70%;
    width: 97%;
    border: solid 2px #DAE5EF;
    border-radius: 9px;
    background-color: #DAE5EF;
    color: white;
    border-color: purple; /* Debugging border color */
}

.grid-item:hover {
    border-color: #212529;
    background-color: white;
    border-color: yellow; /* Debugging border color */
}

.infoContainerBlack {
    background-color: rgba(0, 0, 0, 85%);
    position: absolute;
    height: 100vh;
    width: calc(100vw - 181px);
    z-index: 100;
    border-color: pink; /* Debugging border color */
}

.infoContainerWhite {
    background-color: white;
    position: absolute;
    height: 80vh;
    width: calc(80vw - 181px);
    z-index: 101;
    border: solid 1px white;
    border-radius: 9px;
    border-color: teal; /* Debugging border color */
}

.infoGrid-container {
    position: absolute;
    display: flex;
    overflow: scroll;
    border-radius: 9px;
    border-color: cyan; /* Debugging border color */
    height: 100%;
    width: 100%;
}

.infoGrid-item-Book {
    background-color: white;
    border: solid 1px white;
    border-radius: 9px;
    width: 100%;
    height: 100%;
    flex-basis: 35%;
    border-color: magenta; /* Debugging border color */
}

.infoGrid-item-Info {
    background-color: white;
    border-radius: 9px;
    flex-basis: 65%;
    padding-top: 2vh;
    border: solid 1px white;
    border-color: grey; /* Debugging border color */
}

.infoAddBook {
    background-color: white;
    border: 1px solid #212529;
    border-radius: 9px;
    height: 60%;
    width: 100%;
    margin-bottom: 10%;
    border-color: olive; /* Debugging border color */
}

.infoAddPDate {
    text-align: center;
    background-color: white;
    border: 1px solid #212529;
    border-radius: 9px;
    height: 10%;
    width: 100%;
    margin-bottom: 10%;
    border-color: navy; /* Debugging border color */
}

.infoAddPublisher {
    text-align: center;
    background-color: white;
    border: 1px solid #212529;
    border-radius: 9px;
    height: 10%;
    width: 100%;
    margin-bottom: 10%;
    border-color: maroon; /* Debugging border color */
}

/* .InfoAddBookCenter {} */
.infoGrid-item-Info-container{
    width:90% ;
    height: 90%;
    border: 1px solid slateblue;
    display: flex;
    flex-direction: column;

}

.InfoBookCoverContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    border-color: darkorange; /* Debugging border color */
}

.InfoBookCover {
    width: 100%;
    height: 70%;
    margin-bottom: 10%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: violet; /* Debugging border color */
}

.infoBookAddButton {
    width: 100%;
    height: 20%;
    border: solid 3px #00CBF0;
    background-color: #00CBF0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-size: 20px;
    color: white;
    border-color: deepskyblue; /* Debugging border color */
}

.infoBookAddButton:active {
    background-color: white;
    color: #00CBF0;
    border-color: white;
}

.titleContainer {
    flex-basis: 75%;
    width: 100%;
    height: auto;
    border-color: gold; /* Debugging border color */
}

.grid-containerInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    border: 1px solid;
    border-color: rgb(14, 14, 181); /* Debugging border color */
}

.addNotesButtonFlex{
    flex-basis: 25%;
}

.addNotesButton {
    height: 5vh;
    width: 90%;
    margin-left: 10%;
    border: solid 3px #00CBF0;
    background-color: #00CBF0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    color: white;
    border-color: coral; /* Debugging border color */
}

.notesContainer {
    flex-basis: auto;
    border: solid #212529 1px;
    border-radius: 9px;
    width: 100%;
    border-color: lime; /* Debugging border color */
}

.byStatement {
    overflow: scroll;
    width: 100%;
    height: auto;
    margin-top: -1vh;
    border-color: chocolate; /* Debugging border color */
}

.infoTitleH1 {
    flex-basis: 75%;
    overflow: hidden;
    height: auto;
    width: 100%;
    border-color: dodgerblue; /* Debugging border color */
}

.notesH3 {
    padding-left: 6%;
    padding-top: 4%;
    border-color: darkgreen; /* Debugging border color */
}

hr {
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    border-color: darkred; /* Debugging border color */
}

.exitDiv{
    height: 4vh;
    width: 4vh;
    border: solid 5px white;
    background-color: white;
    border-radius: 9px;
    position: relative;
    left: calc(80.5vw - 181px);
    border-color: darkslategray; /* Debugging border color */
}

.InfoAddBookCenter{
    height: 90%;
    width: 90%;
}

.InfoBookCoverContainerSub{
    height: 90%;
    width: 60%;
}


@media (max-width: 767px) {
    .infoContainerBlack{
        width: 100vw;
        height: 90vh;
    }

    .infoContainerWhite {
        width: 80vw;
        height: 60vh;
    }

    .exitDiv{
        left: 80.5vw;;
    }

    .infoGrid-container {
        flex-direction: column;
    }

    .infoGrid-item-Book {
        flex-basis: 35%;
    }
    
    .infoGrid-item-Info {
        flex-basis: 65%;
    }

}

@media (min-width: 768px) {
    .infoContainerBlack{
        width:  calc(100vw - 80px);
    }

    .infoContainerWhite {
        height: 80vh;
        width: calc(80vw - 80px);
    }

    .exitDiv{
        left: calc(80.5vw - 80px);
    }

}

@media (min-width: 992px) {
    .infoContainerBlack{
        width:  calc(100vw - 181px);
    }

    .infoContainerWhite {
        height: 80vh;
        width: calc(80vw - 80px);
    }
}

@media (min-width: 1200px) {
    
}
