<div class="infoContainerBlack parent">
    <div class="child infoContainerWhite parent">
        <div class="exitDiv parent" (click)="closeOverview()">
            <i class="fa-solid fa-xmark child"></i>
        </div>
        <div class="child infoContainerTransparent infoGrid-container">
            <div class="infoGrid-item-Book parent">
                <div class="child InfoAddBookCenter">
                    <app-overview-section1></app-overview-section1>
                </div>
            </div>
            <div class="infoGrid-item-Info parent">
                <div class="infoGrid-item-Info-container child">
                    <app-overview-section2></app-overview-section2>
                </div>
            </div>
        </div>
    </div>
</div>
