*{
  /* border: solid 2px red; */
  padding: 0%;
  margin: 0%;
}

.custom-container {
    width: 100%;
    height: 100%;
  }
  
  .custom-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .custom-col {
    position: relative;
    width: 100%;
    border-color: magenta;
  }
  
  .custom-col-sidebar {
    padding: 0;
    max-width: 181px;
    border-color: orchid;
  }
  
  .custom-col-router {
    flex: 1;
    border-color: blue;
  }
  
  .custom-col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    border-color: purple;
  }
  
  .custom-col-md-router {
    height: auto;
    border-color: pink;
  }

  .custom-col-md-mobile-bar{
    height: 10vh;
    position: fixed;
    bottom: 0;
    border-color: tan;
  }
  
  