<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="sidebar">
  <a routerLink="/" class="sidebar-link">
      <i class="icon fa-plus" style="font-size: 23px;"></i>
      <span class="sidebar-text inlineTextN">BiblioInsights</span>
  </a>
  <hr class="divider">
  <ul class="nav-list">
      <li class="nav-item" routerLink="search" [ngClass]="{'active bg-info': someCondition['search'], 'nav-link': true}" (click)="navLinkColor('search')">
          <a>
              <i class="fa-solid fa-magnifying-glass"></i>
              <p class="inlineTextN">Search</p>
          </a>
      </li>
      <li class="nav-item" routerLink="BookShelf" [ngClass]="{'active bg-info': someCondition['bookshelf'], 'nav-link': true}" (click)="navLinkColor('bookshelf')">
          <a>
              <i class="fa-solid fa-book inlineText"></i>
              <p class="inlineTextN"> Bookshelf</p>
          </a>
      </li>
      <li class="nav-item" routerLink="browse" [ngClass]="{'active bg-info': someCondition['browse'], 'nav-link': true}" (click)="navLinkColor('browse')">
          <a>
              <i class="fa-solid fa-book-open inlineText"></i>
              <p class="inlineTextN"> Browse</p>
          </a>
      </li>
      <li class="nav-item" routerLink="dashboard" [ngClass]="{'active bg-info': someCondition['dashboard'], 'nav-link': true}" (click)="navLinkColor('dashboard')">
          <a>
              <i class="fa-solid fa-chart-simple inlineText"></i>
              <p class="inlineTextN"> Dashboard</p>
          </a>
      </li>
      <li class="nav-item" routerLink="#" [ngClass]="{'active bg-info': someCondition['settings'], 'nav-link': true}" (click)="navLinkColor('settings')">
          <a >
              <i class="fa-solid fa-gear inlineText"></i>
              <p class="inlineTextN"> Settings</p>
          </a>
      </li>
  </ul>
  
  <div class="dropdown">
    <hr class="divider">
      <a href="#" class="dropdown-link">
          <i class="fa-solid fa-user me-2"></i>
          <strong class="inlineTextN">Login</strong>
      </a>
  </div>
</div>

