/* Common styles outside of media queries */
.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    text-align: center;
    background-color: #343a40;
    color: white;
}

.sidebar-link {
    width: 100%;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
    text-decoration: none;
    padding: 3vh 0;
}

.biblioText {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    color: white;
    margin: auto;
}

.sidebar-text {
    font-size: 23px;
    color: white;
}

.divider {
    color: white;
    opacity: 50%;
    width: 100%;
    margin: 0;
    margin-bottom: 2vh;
}

.nav-list {
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}

.nav-item {
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 2vh 2vw;
    display: block;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #17a2b8;
}

.dropdown-link {
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
}

.dropdown {
    color: white;
    position: absolute;
    bottom: 5%;
}

.inlineText {
    display: inline;
}

.inlineTextN {
    display: none;
    display: inline;
}

.displayHidden{
    display: none;
}

/* Styles for devices with a maximum width of 767px (typical phones) */
@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        height: 10vh;
    }

    .sidebar-link {
        display: none;
    }

    .divider,
    .inlineText,
    .inlineTextN {
        display: none;
    }
}

/* Styles for devices with a minimum width of 768px (typical tablets) */
@media (min-width: 768px) {
    .sidebar {
        width: 80px;
        height: 100vh;
    }

    .sidebar-link {
        padding: 3vh 0;
    }
}

/* Styles for devices with a minimum width of 992px (typical small laptops/desktops) */
@media (min-width: 992px) {
    .sidebar {
        width: 181px;
    }

    .sidebar-link {
        padding: 3vh 0;
    }
}

/* Styles for devices with a minimum width of 1200px (typical large desktops) */
@media (min-width: 1200px) {
    /* No additional changes for large desktops */
}


  