<div class="sidebar">
  <a routerLink="/" class="sidebar-link">
      <span class="sidebar-text inlineTextN" [ngClass]="{'displayHidden': removeSidebarText}">Insights</span>
      <i class="icon fa-plus" style="font-size: 23px;"></i>
  </a>
  <hr class="divider">
  <ul class="nav-list">
      <li class="nav-item" routerLink="search" [ngClass]="{'active bg-info': activeSidebarElement['search'], 'nav-link': true}" (click)="navLinkColor('search')">
          <a>
              <i class="fa-solid fa-magnifying-glass"></i>
              <p class="inlineTextN" [ngClass]="{'displayHidden': removeSidebarText }">Search</p>
          </a>
      </li>
      <li class="nav-item" routerLink="BookShelf" [ngClass]="{'active bg-info': activeSidebarElement['bookshelf'], 'nav-link': true}" (click)="navLinkColor('bookshelf')">
          <a>
              <i class="fa-solid fa-book inlineText"></i>
              <p class="inlineTextN" [ngClass]="{'displayHidden': removeSidebarText}"> Bookshelf</p>
          </a>
      </li>
      <li class="nav-item" routerLink="browse" [ngClass]="{'active bg-info': activeSidebarElement['browse'], 'nav-link': true}" (click)="navLinkColor('browse')">
          <a>
              <i class="fa-solid fa-book-open inlineText"></i>
              <p class="inlineTextN" [ngClass]="{'displayHidden': removeSidebarText}"> Browse</p>
          </a>
      </li>
      <li class="nav-item" routerLink="dashboard" [ngClass]="{'active bg-info': activeSidebarElement['dashboard'], 'nav-link': true}" (click)="navLinkColor('dashboard')">
          <a>
              <i class="fa-solid fa-chart-simple inlineText"></i>
              <p class="inlineTextN" [ngClass]="{'displayHidden': removeSidebarText}"> Dashboard</p>
          </a>
      </li>
      <li class="nav-item" routerLink="#" [ngClass]="{'active bg-info': activeSidebarElement['settings'], 'nav-link': true}" (click)="navLinkColor('settings')">
          <a >
              <i class="fa-solid fa-gear inlineText"></i>
              <p class="inlineTextN" [ngClass]="{'displayHidden': removeSidebarText}"> Settings</p>
          </a>
      </li>
  </ul>
  
  <div class="dropdown">
    <hr class="divider">
      <a href="#" class="dropdown-link">
          <i class="fa-solid fa-user me-2"></i>
          <strong class="inlineTextN" [ngClass]="{'displayHidden': viewportWidth < 992}">Login</strong>
      </a>
  </div>
</div>

