.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgR {
    border: solid 2px transparent;
    border-radius: 9px;
    height: 100%;
    width: 100%;
}

.infoAddBook {
    background-color: white;
    border: 1px solid #212529;
    border-radius: 9px;
    height: 60%;
    width: 100%;
    margin-bottom: 10%;
}

.infoAddPDate {
    text-align: center;
    background-color: white;
    border: 1px solid #212529;
    border-radius: 9px;
    height: 10%;
    width: 100%;
    margin-bottom: 10%;
}

.infoAddPublisher {
    text-align: center;
    background-color: white;
    border: 1px solid #212529;
    border-radius: 9px;
    height: 10%;
    width: 100%;
    margin-bottom: 10%;
}

.InfoBookCoverContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.InfoBookCover {
    width: 100%;
    height: 70%;
    margin-bottom: 10%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.infoBookAddButton {
    width: 100%;
    height: 20%;
    border: solid 3px #00CBF0;
    background-color: #00CBF0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-size: 20px;
    color: white;
}

.infoBookRemoveButton {
    width: 100%;
    height: 20%;
    border: solid 3px red;
    background-color: red;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-size: 20px;
    color: white;
}

.infoBookRemoveButton:active {
    background-color: white;
    color: red;
    border-color: white;
}

.infoBookAddButton:active {
    background-color: white;
    color: #00CBF0;
    border-color: white;
}

.InfoAddBookCenter {
    height: 90%;
    width: 90%;
    margin: 0% 5%;
}

.InfoBookCoverContainerSub {
    height: 90%;
    width: 60%;
}

.fillText {
    width: 100%;
}

.infoAddContainer {
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {

    .infoGrid-item-Info {
        flex-basis: 65%;
    }

    .InfoAddBookCenter{
        height: 90%;
        width: 90%;
        margin: 0%;
        display: flex;
        flex-direction: row;
    }

    .infoAddBook{
        height: 100%;
        width: 100%;
        margin-bottom: 0;
    }

    .infoAddContainer{
        margin-left: 5%;
        width: 90%;
        height: 100%;
    }

    .infoAddPublisher{
        height: 40%;
        width: 100%;
        margin-bottom: 10%;
        margin-top: 10%;
    }

    .infoAddPDate{
        width: 100%;
        height: 40%;
        margin-bottom: 10%;
        margin-top: 10%;
    }

    .addNotesButton{
        height: 4vh;
    }

    .infoBookAddButton{
        font-size: 10px;
    }

    .infoBookRemoveButton{
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    .infoContainerBlack{
        width:  calc(100vw - 80px);
    }

    .infoContainerWhite {
        height: 80vh;
        width: calc(80vw - 80px);
    }

    .exitDiv{
        left: calc(80.5vw - 80px);
    }

    .infoBookAddButton{
        font-size: 15px;
    }

    .infoBookRemoveButton{
        font-size: 15px;
    }
    
}

