*{
    box-sizing: border-box;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* border: solid 1px red; */
}

html{
    background-color: #212529; 
}
/* 
body{
    background-color: red;
} */
